{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      },
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    ["transform-react-jsx", {
      "pragma": "HEML.renderElement"
    }]
  ]
}
